body, html {
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
}

#page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#container1 {
    display: flex;
    align-items: center;
    padding: 6px;
    height: 60px;
}

#navbar {
    display: inline-block;
    height: 48px;
    flex-grow: 1;
}

#right {
    display: flex;
    height: 48px;
    float: right;
    align-items: center;
}

#links {
    display: block;
}

a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: rgba(0,0,0,.87);
}

#container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 560px);
    max-height: 290px;
}

#container2_ {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 560px);
    max-height: 50px;
}

#heading {
    position: relative;
    margin-top: auto;
    object-position: center bottom;
}

#container3 {
    display: block;
    padding: 40px;
    box-sizing: border-box;
    max-height: 220px;
}

form {
    display: block;
}

#searchblock {
    display: block;
    position: relative;
    margin: auto;
    max-width: 584px;
    width: auto;
}

#searchblock_ {
    display: block;
    position: relative;
    width: 100%;
}

.bar {
    display: flex;
    position: relative;
    min-height: 22px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: auto;
    max-width: 584px;
    padding: 10px;
}

#div2 {
    position: relative;
    display: block;
    padding: 20px;
    margin: auto;
    text-align: center;
}

#heading2 {
    position: relative;
    display: inline-block;
}

h3 {
    position: relative;
    float: left;
}

#questions {
    display: block;
    position: relative;
}

.qt {
    display: inline-block;
    float: left;
    width: 16%;
    height: 42px;
    font-size: 15px;
    vertical-align: middle;
}

.qt2 {
    display: table-cell;
    vertical-align: middle;
    height: 30px;
    width: 100%;
    position: relative;     
}

.qt label {
    vertical-align: baseline;
}

.qb {
    display: inline-block;
    float: left;
    min-width: 167px;
    min-height: 42px;
    vertical-align: middle;
    width: 50%
}

.qb2 {
    display: block;
    vertical-align: baseline;
    height: 29px;
    padding-right: 16px;
}

.bar_ {
    display: flex;
    position: relative;
    height: 30px;
    background: #fff;
    box-shadow: none;
    margin: 0 auto;
    width: 100%;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
}

.div {
    clear: both;
}

#submit {
    clear: both;
}

#block {
    float: left;
    display: inline-block;
    min-width: 167px;
    width: 16%;
    height: 42px;
    line-height: 16px;
    vertical-align: middle;
}

#bs {
    float: left;
    display: inline-block;
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
    width: 50%;
}

#bs input {
    float: right;
    margin: 10px;
    padding: 12px;
    background-color: #4d90fe;
    color: white;
    border: 1px solid #3079ed;
    box-shadow: none;
    border-radius: 2px;
    font-size: 11px;
    font-weight: bold;
}

#div2_ {
    display: block;
    height: 70px;
    padding-top: 18px;
    text-align: center;
}

#button {
    cursor: pointer;
}

#button1 {
    display: inline-block;
    border: 1px solid #f8f9fa;
    margin: 11px 4px;
    padding: 0 16px;
    cursor: pointer;
}

#button2 {
    display: inline-block;
    border: 1px solid #f8f9fa;
    margin: 11px 4px;
    padding: 0 16px;
    cursor: pointer;
}